<% if social_user_signed_in? %>
    <div class="top_alpha_block"></div>
    <span style = "font-size:40px; color:#aaa;">СЕГОДНЯ:</span>
    <br>
    <%=raw posts params[:messages] %>
    <br>
    <div class="bottom_alpha_block"></div>
<% else %>
    <br>
    <span style="color:#f9bd27">
        <b>Доброе</b> </span> время суток!
    <br>
    Пожалуйста, зарегистрируйтесь через одну из социальных сетей:
    <br>
    <br>
    <!-- TODO: Code repeat! --!>
    <%= link_to (image_tag ("vkontakte-icon.png")), "/login?provider=vkontakte" %>
    <%= link_to (image_tag ("facebook-icon.png")), "/login?provider=facebook" %>
    <%= link_to (image_tag ("twitter-icon.png")), "/login?provider=twitter" %>
    <%= link_to (image_tag ("google-icon.png")), "/login?provider=google" %>
<% end %>