<% if social_user_signed_in? %>
    <div class="top_alpha_block"></div>
    <% if params[:messages]=="all" %>
        <span style = "font-size:40px; color:#aaa;">ДОБРЫЕ ДЕЛА ЗА ВСЁ ВРЕМЯ:</span>
    <% else %>
        <span style = "font-size:40px; color:#aaa;">СЕГОДНЯ:</span>
    <% end %>

    <br>
    <%=raw posts params[:messages] %>
    <br>
    <div class="bottom_alpha_block"></div> 
<% else %>
    <br>
    <span style="color:#f9bd27">
        <b>Доброе</b> </span> время суток!
    <br>
    Пожалуйста, зарегистрируйтесь через одну из социальных сетей:
    <br>
    <br>
    <!-- TODO: Code repeat! --!>
    <%= link_to (image_tag ("vkontakte-icon.png")), "/login?provider=vkontakte" %>
    <%= link_to (image_tag ("facebook-icon.png")), "/login?provider=facebook" %>
    <%= link_to (image_tag ("twitter-icon.png")), "/login?provider=twitter" %>
    <%= link_to (image_tag ("google-icon.png")), "/login?provider=google" %>
    <br>
    <span onclick = "show_login_help();" style = "float:right; color:#F9BD27; font-weight: bold; font-size: 20px; cursor: pointer;">Возникли проблемы со входом?</span>
    <div id = "login_help">
    Возникли проблемы со входом на сайт?
    <span onclick = "hide_login_help();" style="float:right; cursor:pointer;">X</span>
    <br><br>
    Для входа щёлкните по иконке социальной сети, в которой Вы зарегистрированы.<br><br>
    Если Вы уже заходили на Ulgood.ru, с данного аккаунта, скорее всего вход произойдёт автоматически.<br><br>
    В ином случае откроется окно, в котором Вам следует войти в учётную запись данной социальной сети, и подтвердить вход на Ulgood.ru.<br><br>
    Если в данном списке нет социальных сетей, в которых Вы зарегистрированы, либо возникли другие проблемы с авторизацией на сайте - сообщите об этом разработчику сайта <a href="mailto:ulgood73@gmail.com" style = "color:#f9bd27; font-weight: bold;">здесь</a>.
    </div>
<% end %>
