%html
  %head
    %title Ulgood
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    #page
      %script{ :type => "text/javascript" }
        reformal_script();
      %noscript
        =link_to (image_tag "http://media.reformal.ru/reformal.png"), "http://reformal.ru"
        =link_to "Oтзывы и предложения для ulgood.ru", "http://ulgood.reformal.ru"
      =render "layouts/header"
      #main{:style => @main_style}
        = yield
        #blank{ :style => @blank_style }
      =render "layouts/footer"