%html
  %head
    %title Ulgood
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    =render "layouts/header"
    #main{:style => @main_style}
      = yield
      #blank{:style => @blank_style}
    =render "layouts/footer"