%html
  %head
    %title Ulgood
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    <script type="text/javascript">
    var reformalOptions = {
    project_id: 89773,
    project_host: "ulgood.reformal.ru",
    force_new_window: true,
    tab_orientation: "right",
    tab_indent: "50%",
    tab_bg_color: "#f9be27",
    tab_border_color: "#FFFFFF",
    tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/a08a7c60392f68cb33f77d4f56cf8c6f/right/1/tab.png",
    tab_border_width: 0
    };
    (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript'; script.async = true;
    script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
    document.getElementsByTagName('head')[0].appendChild(script);
    })();
    </script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://ulgood.reformal.ru">Oтзывы и предложения для ulgood.ru</a></noscript>
    =render "layouts/header"
    #main{:style => @main_style}
      = yield
      #blank{:style => @blank_style}
    =render "layouts/footer"